
.data-table-container {
    padding: 0px 15px 0px 15px;
}
.table-responsive {
    overflow-x: auto;
    // margin: 30px 0px;
    min-height: 0.01%;

    .sortable-table{
        .search-box {
            font-size: 14px;
            font-family: sans-serif;
        }
        .col-sm-7 {
            width: 58.33333333%;
            float: left;
            padding-bottom: 5px;

            div {
                font-size: 14px;
            }
        }
        .SortableTblLabel {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
        }
        select {
            height: 30px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            outline: none;
            margin: 0px 5px;
        }
        .col-sm-5 {
            width: 41.66666667%;
            float: left;
            text-align: right;
            padding-bottom: 5px;

            div {
                font-size: 14px;
                position: relative;
                top: 5px;
            }
        }
        .search-box{
            margin-bottom: 5px;
            text-align: left;

            input {
                padding: .7rem 1rem;
                border: 1px solid rgba(0, 0, 0, 0.5);
                -webkit-border-radius: 4px;
                -o-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                display: inline-block;
                vertical-align: middle;
            }
            input.search{
                border:1px solid #ccc ;

                &:focus {
                    outline: none;
                }
            }
        }
        .form-group{
            .pager{
                padding: 0;
                input{
                    background-color:#0093c9 ;
                    border-color: #0093c9 ;
                    color: #fff;
                    padding: 3px 10px; 
                    outline: none;
                    font-size: 14px;
                }
            }
        }
        .table{
            width: 100%;
            border: 1px solid #cabfbf;
            border-collapse: collapse;

            thead th{
                background-color: #078fbc ;
                color: #fff;
                font-size: 13px;
                white-space: nowrap;
                padding: 5px;
                border-right: 1px solid #ccc;

                br {
                    display: none;
                }
            }
            tbody tr {
                border-bottom: 1px solid #cabfbf;
                &:nth-child(2n){
                    background-color:#f1f4f5; 
                }
            }
            tbody td {
                font-size: 12px;
                padding: 3px;
                border-right: 1px solid #cabfbf;
            }
            
        }
    }
}
